

name: Build and deploy ASP.Net Core app to Azure Web App - teaskmanager-tenant

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Build with dotnet
        run: dotnet build TaskManager.API/TaskManager.MultiTenant.csproj --configuration Release

      - name: dotnet publish
        run: dotnet publish TaskManager.API/TaskManager.MultiTenant.csproj \
             -c Release \
             -o ${{ env.DOTNET_ROOT }}/myapp

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write #This is required for requesting the JWT
      contents: read #This is required for actions/checkout

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_B397A17B42374CD78C19833D3F5CA0B6 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_4905F2390E2B40AABEE727662A04FA1E }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_2D4BAAFED3EE48F1A7C7519CBAF410B8 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'teaskmanager-tenant'
          slot-name: 'Production'
          package: .