name: Build and deploy ASP.Net Core API to Azure Web App - teaskmanager-tenant

on:
  push:
    branches:
      - master

env:
  AZURE_WEBAPP_NAME: teaskmanager-tenant
  DOTNET_VERSION: '8.0.x'

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Publish API
        run: |
          dotnet publish TaskManager.API/TaskManager.MultiTenant.csproj \
            -c Release \
            -o ./publish

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: ./publish
