name: Deploy TaskManager API

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: read
  actions: read

jobs:
  build:
    name: Build Application
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
      
      - name: Restore dependencies
        run: dotnet restore TaskManager.API/TaskManager.MultiTenant.csproj
      
      - name: Build
        run: dotnet build TaskManager.API/TaskManager.MultiTenant.csproj --configuration Release --no-restore
      
      - name: Publish
        run: dotnet publish TaskManager.API/TaskManager.MultiTenant.csproj --configuration Release --no-build --output ./myapp -r linux-x64 --self-contained false
      
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: api-app
          path: publish



  deploy:
    name: Deploy to Azure
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: Production
    
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: myapp
      
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v4
        with:
          app-name: teaskmanager-tenant
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: .